<div class="row">
    <div class="col">
        <h1 *ngIf="languageService.language == 'EN'">Log in</h1>  
        <h1 *ngIf="languageService.language == 'NL'">Inloggen</h1> 
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input type="text" class="form-control" formControlName="email" id="email">
            </div>
            <div class="form-group mb-3">
                <label for="password" *ngIf="languageService.language == 'EN'">Password</label> 
                <label for="password" *ngIf="languageService.language == 'NL'">Wachtwoord</label>
                <input type="password" class="form-control" formControlName="password" id="password1">
            </div>

            <button type="submit" class="btn btn-md btn-primary" *ngIf="languageService.language == 'EN'" [disabled]="!loginForm.valid">Login</button> 
            <button type="submit" class="btn btn-md btn-primary" *ngIf="languageService.language == 'NL'" [disabled]="!loginForm.valid">Inloggen</button>
            
        </form>
        
    </div>
</div>