<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <p class="text-center mt-4 fs-1 fw-bold"> {{product.title}}</p>  
        <img src={{product.imageurl}} class="img-fluid rounded-3" alt="Picture game"/>  
        <p class="text-left mt-2 fs-5 fw-bold"> Game Price: {{product.price | currency}}</p> 
        <button (click)="buyProduct(product)" *ngIf="languageService.language == 'NL'" class="btn btn-primary float-right text-right">Kopen</button>  
        <button (click)="buyProduct(product)" *ngIf="languageService.language == 'EN'" class="btn btn-primary float-right text-right">Buy</button>  

        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'NL'">Beschrijving: </h4> 
        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'EN'">Description: </h4>
        <p class="text-right fst-normal  fs-5 1h-sm">{{product.description}}</p>    
 

        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'NL'">Publicatiedatum: </h4> 
        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'EN'">Release date: </h4>
        <p class="text-right fst-normal   fs-5"> {{product.releaseDate}}</p>  


        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'NL'">Ontwikkelaar: </h4> 
        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'EN'">Developer: </h4>
        <p class="text-right fst-normal   fs-5"> {{product.developer}}</p>    

  

        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'NL'">Uitgever: </h4> 
        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'EN'">Publisher: </h4>
        <p class="text-right fst-normal   fs-5"> {{product.publisher}}</p>   


        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'NL'">Besturingsysteem: </h4> 
        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'EN'">Operating System: </h4>
        <p class="text-right fst-normal   fs-5"> {{product.os}}</p>  


        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'NL'">Processor: </h4> 
        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'EN'">Processor: </h4> 

        <p class="text-right fst-normal fs-5"> {{product.processor}}</p> 
 

        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'NL'">Grafische kaart: </h4> 
        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'EN'">Graphics card: </h4>  

        <p class="text-right fst-normal   fs-5"> {{product.graphics}}</p> 


        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'NL'">Driver versie: </h4> 
        <h4 class="text-right mt-5 fw-bold" *ngIf="languageService.language == 'EN'">Drivers </h4>  
        <p class="text-right fst-normal   fs-5"> {{product.sound_card}}</p>

        
      </div>
    </div>  
    </div>