<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <p class="text-center mt-4 fs-1 fw-bold"> {{product.title}}</p>  
        <img src={{product.imageurl}} class="img-fluid rounded-3" alt="Picture game"/>  
        <p class="text-left mt-2 fs-5 fw-normal"> Game Price: {{product.price | currency}}</p> 
        <button (click)="buyProduct(product)" *ngIf="languageService.language == 'NL'" class="btn btn-primary float-right text-right">Kopen</button>  
        <button (click)="buyProduct(product)" *ngIf="languageService.language == 'EN'" class="btn btn-primary float-right text-right">Buy</button> 
        <p class="text-right fw-normal mt-4 pt-4 fs-5 1h-sm">{{product.description}}</p>   
        <p class="text-right fw-normal mt-2 pt-2 fs-5"> {{product.releaseDate}}</p> 
        <p class="text-right fw-normal mt-2 pt-2 fs-5"> {{product.developer}}</p>  
        <p class="text-right fw-normal mt-2 pt-2 fs-5"> {{product.publisher}}</p>  
        <p class="text-right fw-normal mt-4 pt-4 fs-5"> {{product.os}}</p> 
        <p class="text-right fw-normal mt-4 pt-4 fs-5"> {{product.processor}}</p>
        <p class="text-right fw-normal mt-4 pt-4 fs-5"> {{product.graphics}}</p>
        <p class="text-right fw-normal mt-4 pt-4 fs-5"> {{product.sound_card}}</p>

        
      </div>
    </div>  
    </div>