<div class="container-xxl justify-content-center">  
  <div class="row">  
    <div class="col-md-4 mt-4"> 

      <div class="card" style="width: 18rem;"> 
        <img src={{product.imageurl}} class="img-fluid rounded-3" alt="Picture game"/>
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5> 
          <p>{{ product.price | currency }}</p>
          <div class="p-2 flex-shrink-1"> 
            <button (click)="buyProduct(product)" *ngIf="languageService.language == 'EN'" class="btn btn-primary float-right">Buy</button>  
            <button (click)="buyProduct(product)" *ngIf="languageService.language == 'NL'" class="btn btn-primary float-right">Kopen</button> 
            <a [routerLink]="[product.id]" class="btn btn-secondary ps-3 ms-5" *ngIf="languageService.language == 'NL'">Meer zien</a> 
            <a [routerLink]="[product.id]" class="btn btn-secondary ps-3 ms-5" *ngIf="languageService.language == 'EN'">Show more</a>

          </div>
        </div>
      </div> 

 
    
    </div>
  </div>
</div>
