<div class="container-xl"> 
    <div class="row align-items-center">
        <div class="col"> 
            <h5 class="text-center fw-bold fs-1"> MASH GAMES </h5> 
            <h3 class="text-center fw-normal fs-5" *ngIf="languageService.language == 'NL'" >Sla Groot met MASH GAMES - Jouw Eén-Stop Bestemming voor Gaming Sensaties!" </h3>     
            <h3 class="text-center fw-normal fs-5" *ngIf="languageService.language == 'EN'" >Hit it big with MASH GAMES - Your One-Stop Destination for Gaming Thrills!" </h3>  
        </div>  
</div>  


 
<div class="row align-items-center ">  
    
    <img src="https://gmedia.playstation.com/is/image/SIEPDC/marvels-spider-man-miles-morales-listing-thumb-01-ps4-ps5-en-02oct20?$facebook$" class="img-fluid rounded" style="height: auto; width: auto;" alt="Game picture"> 
     
 </div>

  <div class="row align-items-center  mt-2"> 
    <p class="text-center fw-normal fs-5" *ngIf="languageService.language == 'EN'">News Games:</p> 
    <p class="text-center fw-normal fs-5" *ngIf="languageService.language == 'NL'">Nieuwe Games:</p>
  </div> 

    <div class="row justify-content-center mt-2">  
            @if (loadingProducts){
                <p>Loading products...</p>
                } @else {
                @for (product of products; track $index){  
                    <div class="col">  
                    <div class="card " style="width: 20rem;"> 
                         <img src={{product.imageurl}} class="img-fluid"alt="Picture game"/>
                        <div class="card-body">
                          <p class="text-left">{{product.title}}</p> 
                          <p class="text-left">{{product.price}}</p>  
                          <button (click)="onBuyProduct(product)" *ngIf="languageService.language == 'EN'" class="btn btn-primary float-right">Buy</button>  
                         <button (click)="onBuyProduct(product)" *ngIf="languageService.language == 'NL'" class="btn btn-primary float-right">Kopen</button> 
                        </div>
                      </div>  
                    </div>         
                }
                }
    </div> 
 
</div>
 
    
